<!-- Template base superior aqui -->

<h2 class="mb-4">Gestão de Atletas</h2>

<div class="card p-3 mb-4">
    <h4 class="card-title">Cadastrar Atleta</h4>
    <form id="formAtleta">
        <div class="row g-3">
            <div class="col-md-4">
                <label class="form-label">Nome</label>
                <input class="form-control" id="nomeAtleta">
            </div>

            <div class="col-md-4">
                <label class="form-label">Idade</label>
                <input class="form-control" type="number" id="idadeAtleta">
            </div>
            <div class="col-md-4">
                <label class="form-label">Modalidade</label>
                <input class="form-control" id="modalidadeAtleta">
            </div>
        </div>

        <button class="btn btn-primary mt-3" type="button" onclick="salvarAtleta()">Salvar</button>
    </form>
</div>

<div class="card p-3">
    <h4 class="card-title">Lista de Atletas</h4>
    <table class="table table-striped mt-2">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Idade</th>
                <th>Modalidade</th>
            </tr>
        </thead>
        <tbody id="listaAtletas"></tbody>
    </table>
</div>

<script>
function salvarAtleta() {
    let nome = document.getElementById("nomeAtleta").value;
    let idade = document.getElementById("idadeAtleta").value;
    let mod = document.getElementById("modalidadeAtleta").value;

    let lista = carregarLocal("atletas");
    lista.push({ nome, idade, modalidade: mod });

    salvarLocal("atletas", lista);
    carregarAtletas();
}

function carregarAtletas() {
    let lista = carregarLocal("atletas");
    let tbody = document.getElementById("listaAtletas");
    tbody.innerHTML = "";

    lista.forEach(a => {
        tbody.innerHTML += `
            <tr>
                <td>${a.nome}</td>
                <td>${a.idade}</td>
                <td>${a.modalidade}</td>
            </tr>`;
    });
}

carregarAtletas();
</script>

<!-- Template base inferior -->
