:root {
    --primary: #1F34A6;
    --secondary: #1A2873;
    --dark-blue: #151F59;
    --black-blue: #08090D;
    --accent: #447EF2;

    --text-light: #f5f5f5;
    --text-dark: #1a1a1a;
    --bg-light: #f2f2f2;
}

body {
    background: var(--bg-light);
    font-family: "Segoe UI", sans-serif;
}

.navbar {
    background: var(--primary) !important;
}

.navbar-brand, .nav-link {
    color: var(--text-light) !important;
}

.nav-link:hover {
    color: var(--accent) !important;
}

.card {
    border-radius: 14px;
    border: none;
    box-shadow: 0 3px 12px rgba(0,0,0,0.15);
}
.card-title { color: var(--primary); }

.btn-primary {
    background: var(--primary);
    border: none;
}
.btn-primary:hover { background: var(--secondary); }

.btn-accent {
    background: var(--accent);
    color: white;
}
.btn-accent:hover { background: var(--primary); }

.form-control, .form-select {
    border-radius: 10px;
    border: 1px solid var(--primary);
}

footer {
    background: var(--black-blue);
    color: var(--text-light);
    padding: 15px;
    text-align: center;
    margin-top: 40px;
}
